@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
  background-color: #15151a;
  font-family: "Chakra Petch", sans-serif;
}

section {
  width: 1200px;
  margin: 0 auto;
}

header .logotipo {
  float: left;
}

header .suporte {
  float: right;
  margin-top: 20px;
}

.logotipo img {
  width: 65px;
}

.menuitem li {
  display: inline-block;
  padding: 20px;
}

.menu,
.menuitem {
  display: inline;
}

.header {
  margin: 20px 0;
}

.menuitem li a {
  color: #abaaaa;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
  transition: 0.3s;
}

.menu {
  margin: 0 100px;
}

.menuitem li a:hover {
  color: #fff;
  border-bottom: 2px solid #1434A4;
  padding-bottom: 36px;
  transition: 0.3s;
}

header {
  border-bottom: 1px solid #272727;
  z-index: 2;
  position: relative;
}

.suporte a {
  text-decoration: none;
  color: #057414;
  background-color: #272727;
  padding: 20px;
  border-radius: 30px;
}

/* deixa a opacidade padrao com uma "animação"*/
.hover {
  opacity: 1;
  transition: 0.3s;
}

/* serve para dar um efeito de "sombreado" deixanda um pouco escuro diminuindo a opacidade ao passar o mouse onde esta a classe hover */
.hover:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.slider {
  background-image: url(img/duna2.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  /* gerencia as camandas, especifica a ordem de sobreposição dos elementos na tela
  eixo Z é responsável pelo cálculo e posicionamento da profundidade de um determinado elemento em relação à tela, 
  se estará mais afastado ou mais próximo. Sem a propriedade z-index definida, por padrão, os elementos recebem o valor automático que é z-index: auto. 
  o posicionamento é sequencial, em ordem crescente - o z-index de menor valor é o elemento mais profundo 
  enquanto o z-index de maior valor é o mais próximo da tela.*/
  top: -151px;
  position: relative;
  opacity: 0.3;
}

h1 {
  text-align: center;
  top: 150px; /* Defina a borda superior do elemento <div> posicionado 150px abaixo da borda superior de seu ancestral posicionado mais próximo: 
  "da uma distancia do topo, do elemento mais proximo, (%) também funciona as vezes"*/
  position: relative;
  color: #abaaaa;
  font-size: 50px;
  z-index: 3;
}

.destaques {
  text-align: center;
}

.destaques .item {
    width: 15%;
    display: inline-block;
    margin: 0.5%;
    position: relative; /* sem isso não funcina o position do overlay de aparecer um texto na imagem sobrepondo */
}

.destaques .titulo {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  position: absolute; /* (absolute) deixa o item livre para por onde quiser */
  background-image: linear-gradient(to top,#000,#00000000);
  bottom: 0;
  padding-bottom: 25px;
  width: 100%;
}

.destaques .item img{
    width: 100%;
    height: 265px;
}

.destaques .imagem {
  border-radius: 10px;
  overflow: hidden; /* Pesquisar o que é isso */
  
}

.titulo-categoria {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  background-color: #272727;
  margin: 20px 0;
  border-radius: 20px;
}

footer {
  background: #272727;
  color: #abaaaa;
  font-size: 23px;
  padding: 50px 0;
  line-height: 40px;
  text-align: center;
}

footer a{
  color: #abaaaa;
  text-decoration: none;
}

.sociais li {
  display: inline-block;
}

.col {
  width: 33%;
  display: inline-block;
}

footer i{
  font-size: 40px;
  padding: 5px;
}

.mobile {
  display: none;
}

.mostrar-mobile {
  display: none;
}

.esconder-mobile {
  display: block;
}

@media (max-width: 480px) {
  .mostrar-mobile {
    display: block;
  }

  .esconder-mobile {
    display: none;
  }

  section {
    width: 100%;
  }

  .destaques .item {
    width: 100%;
  }
  
  .destaques .imagem img {
    height: auto; /* serve pra daixar a altura automatica sem quebrar muito pelo oque entendi*/
  }

  .item {
    max-width: 350px;
    padding: 18px 0;
  }

  .destaques{
    text-align: center;
  }
}