@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
  background-color: #6598ab;
  font-family: "Chakra Petch", sans-serif;
}

section{
  width: 1200px;
  margin: 0 auto;
}

header .logotipo{
  float: left;
}
header .suporte{
  float: right;
}
.logotipo img{
  width: 150px;
}